<p-dialog #dialog header="{{'ui_menu_registration' | translate}}" [(visible)]="isVisible" [modal]="true"
          [draggable]="false" [resizable]="false" (onHide)="onDialogHide()" (onShow)="onDialogShow()">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm)" class="formgrid grid col-12">
    <div class="field col-12 md:col-6">
      <input type="text" pInputText formControlName="firstName" placeholder="{{'ui_first_name' | translate}}"
             class="inputfield w-full"/>
    </div>
    <div class="field col-12 md:col-6">
      <input type="text" pInputText formControlName="lastName" placeholder="{{'ui_last_name' | translate}}"
             class="inputfield w-full"/>
    </div>
    <div class="field col-12">
      <input type="text" pInputText formControlName="username" placeholder="{{'ui_username' | translate}}"
             class="inputfield w-full"/>
    </div>
    <div class="field col-12 md:col-6">
      <p-password formControlName="password" [toggleMask]="true" [feedback]="false"
                  placeholder="{{'ui_password' | translate}}"
                  styleClass="inputfield w-full" inputStyleClass="inputfield w-full"></p-password>
    </div>
    <div class="field col-12 md:col-6">
      <p-password formControlName="repeatPassword" [toggleMask]="true" [feedback]="false"
                  placeholder="{{'ui_repeat_password' | translate}}"
                  styleClass="inputfield w-full" inputStyleClass="inputfield w-full"></p-password>
    </div>
    <div class="field col-12">
      <button pButton pRipple type="submit" [disabled]="registrationForm?.invalid" label="Register"></button>
    </div>
  </form>
</p-dialog>
