<p-table [value]="purchases"
         responsiveLayout="scroll"
         editMode="row"
         dataKey="id"
         [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
         styleClass="p-datatable-sm p-datatable-striped"
>
  <ng-template pTemplate="header">
    <tr>
      <ng-container *ngFor="let col of columns">
        <th pSortableColumn="{{col.field}}">
          {{col.header | translate}}
          <p-sortIcon *ngIf="col.sortable" field="{{col.field}}"></p-sortIcon>
        </th>
      </ng-container>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <ng-container *ngFor="let col of columns">
        <th>
          <ng-container *ngIf="col.subfield; else dateFilter">
            <p-columnFilter *ngIf="col.filterType === 'dropdown'" field="{{col.field}}"
                            matchMode="equals" [showMenu]="false" [showClearButton]="false">
              <ng-template pTemplate="filter" let-filter="filterCallback">
                <p-dropdown *ngIf="col.filterOptions" [options]=col.filterOptions
                            (onChange)="filter($event.value)" placeholder="{{col.placeholder | translate}}"
                            [showClear]="true">
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </ng-container>
          <ng-template #dateFilter>
            <ng-container *ngIf="col.filterType === 'date'; else defaultFilter">
              <p-columnFilter type="date" field="{{col.field}}" display="menu" [hideOnClear]="true"></p-columnFilter>
            </ng-container>
          </ng-template>
          <ng-template #defaultFilter>
            <p-columnFilter type="text" field="{{col.field}}" matchMode="contains" [showMenu]="false"></p-columnFilter>
          </ng-template>
        </th>
      </ng-container>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-purchase let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="purchase">
      <td *ngFor="let col of columns">
        <p-cellEditor>
          <ng-template *ngIf="col.editable" pTemplate="input">
            <ng-container *ngIf="col.type === 'text'; else textarea">
              <input pInputText type="text" [(ngModel)]="purchase[col.field]">
            </ng-container>
            <ng-template #textarea>
              <ng-container *ngIf="col.type === 'textarea'; else date">
                <textarea [rows]="5" [cols]="30" pInputTextarea [(ngModel)]="purchase[col.field]"
                          [autoResize]="true" class="inputfield w-full"></textarea>
              </ng-container>
            </ng-template>
            <ng-template #date>
              <ng-container *ngIf="col.type === 'date'; else dropdown">
                <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="purchase[col.field]"
                            placeholder="{{'ui_date' | translate}}"
                            styleClass="inputfield w-full"></p-calendar>
              </ng-container>
            </ng-template>
            <ng-template #dropdown>
              <ng-container *ngIf="col.type === 'dropdown'">
                <p-dropdown *ngIf="col.filterOptions" [options]="col.filterOptions"
                            [(ngModel)]="purchase[col.field]" placeholder="{{col.placeholder | translate}}">
                </p-dropdown>
              </ng-container>
            </ng-template>
          </ng-template>
          <ng-template pTemplate="output">
            <ng-container *ngIf="col.type === 'date'; else textOutput">
              {{purchase[col.field] | date: 'yyyy-MM-dd'}}
            </ng-container>
            <ng-template #textOutput>
              {{purchase[col.field]}}
            </ng-template>
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="text-align:center">
        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow (click)="onRowEditInit(purchase)"
                icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow (click)="onRowEditSave(purchase)"
                icon="pi pi-check" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow (click)="onRowEditCancel(purchase, ri)"
                icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger"></button>
      </td>
      <td style="text-align:center">
        <button pButton pRipple type="button" (click)="deletePurchase(purchase)"
                icon="pi pi-trash" class="p-button-rounded p-button-text"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>
