//:host ::ng-deep .p-cell-editing {
//  padding-top: 0 !important;
//  padding-bottom: 0 !important;
//}

p-columnFilter[type="text"] {
  display:block;
  min-width: 9rem;
}

p-columnFilter[type="date"] {
  display:block;
  min-width: 7rem;
}
