<div class="formgrid grid">
  <div class="field col-12 md:col-4">
    <input type="text" pInputText [ngModel]="reason" (ngModelChange)="reasonChange.emit($event);onFilterChange.emit();"
           placeholder="Reason" class="inputfield w-full"/>
  </div>
  <div class="field col-6 md:col-4">
    <p-dropdown [options]="transactionTypes" [ngModel]="selectedTransactionType"
                (onChange)="transactionTypeChange.emit($event.value);onFilterChange.emit()" [showClear]="true"
                placeholder="{{'ui_transaction_type' | translate}}" styleClass="inputfield w-full"></p-dropdown>
  </div>
  <div class="field col-6 md:col-4">
    <p-dropdown [options]="paymentMethods" [ngModel]="selectedPaymentMethod"
                (onChange)="paymentMethodChange.emit($event.value);onFilterChange.emit()"
                [showClear]="true" placeholder="{{'ui_payment_method' | translate}}"
                styleClass="inputfield w-full"></p-dropdown>
  </div>
</div>
