<p-accordion>
  <p-accordionTab header="{{'ui_add_new_purchase' | translate}}">
    <app-add-purchase [transactionTypes]="transactionTypes" [paymentMethods]="paymentMethods">
    </app-add-purchase>
  </p-accordionTab>
</p-accordion>
<app-table></app-table>
