<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <span class="header">{{'ui_app_title' | translate}}</span>
  </ng-template>
  <ng-template pTemplate="end">
    <p-dropdown *ngIf="languageOptions" [options]="languageOptions" [(ngModel)]="selectedLanguage"
                (onChange)="changeLanguage($event.value)">
      <ng-template pTemplate="item" let-item>
        {{item | translate}}
      </ng-template>
      <ng-template pTemplate="selectedItem" let-item>
        {{item | translate}}
      </ng-template>
    </p-dropdown>
  </ng-template>
</p-menubar>

<app-login [(isVisible)]="displayLogin" (userAuthenticated)="redirectUserOnLogin($event)"></app-login>
<app-register [(isVisible)]="displayRegistration"></app-register>
