<p-tabView>
  <p-tabPanel *ngIf="header" header="{{header | translate}}">
    <ng-container *ngFor="let idx of rangeReasons; let i=index; trackBy: trackByFn" >
      <app-filters [(reason)]="rangeReasons[i]" [(transactionType)]="rangeTransactionTypes[i]"
                   [(paymentMethod)]="rangePaymentMethods[i]" (onFilterChange)="rerenderDatesRangeChart()">
      </app-filters>
    </ng-container>

    <div class="flex justify-content-center mt-4 mb-4">
      <button pButton pRipple type="button" icon="pi pi-plus" (click)="addNewDatesRangeFilter()"
              class="p-button-rounded p-button-outlined"></button>
    </div>

    <div class="formgrid grid justify-content-center">
      <ng-container *ngIf="type === 0">
        <div class="field field col-12 md:col-8 lg:col-6">
          <h3>{{'ui_statistics_days_range' | translate}}</h3>
          <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [inline]="true" dateFormat="mm/yy"
                      (onSelect)="rerenderDatesRangeChart()" styleClass="inputfield w-full"></p-calendar>
        </div>
      </ng-container>
      <ng-container *ngIf="type === 1">
        <div class="field col-12 md:col-4">
          <h3>{{'ui_statistics_month_start' | translate}}</h3>
          <p-calendar [(ngModel)]="rangeStartDate" view="month" [readonlyInput]="true" dateFormat="mm/yy"
                      [inline]="true"
                      (onSelect)="rerenderDatesRangeChart()"
                      styleClass="inputfield w-full">
          </p-calendar>
        </div>
        <div class="field col-12 md:col-4">
          <h3>{{'ui_statistics_month_end' | translate}}</h3>
          <p-calendar [(ngModel)]="rangeEndDate" view="month" dateFormat="mm/yy" [inline]="true"
                      (onSelect)="rerenderDatesRangeChart()" styleClass="inputfield w-full"></p-calendar>
        </div>
      </ng-container>
      <ng-container *ngIf="type === 2">
        <div class="field col-12 md:col-4">
          <h3>{{'ui_statistics_year_start' | translate}}</h3>
          <p-calendar [(ngModel)]="rangeStartDate" view="year" [inline]="true"
                      (onSelect)="rerenderDatesRangeChart()" styleClass="inputfield w-full"></p-calendar>
        </div>
        <div class="field col-12 md:col-4">
          <h3>{{'ui_statistics_year_end' | translate}}</h3>
          <p-calendar [(ngModel)]="rangeEndDate" view="year" [inline]="true"
                      (onSelect)="rerenderDatesRangeChart()" styleClass="inputfield w-full"></p-calendar>
        </div>
      </ng-container>
    </div>

    <div *ngIf="statisticData" class="card">
      <div class="field col-12 md:col-9 lg:col-8 m-auto">
        <p-chart type="bar" [data]="statisticData"></p-chart>
      </div>
    </div>
  </p-tabPanel>

  <!--  <p-tabPanel header="Compare 2 or more years">-->
  <!--    <app-filters [(reason)]="comparisonReason" [(transactionType)]="comparisonTransactionType"-->
  <!--                 [(paymentMethod)]="comparisonPaymentMethod"-->
  <!--                 (onFilterChange)="rerenderYearComparisonChart()">-->
  <!--    </app-filters>-->
  <!--    <hr/>-->
  <!--    <div class="formgrid grid">-->
  <!--      <ng-container *ngFor="let idx of comparisonYears; let i=index">-->
  <!--        <div id='idx-{{i}}' class="field col-12 md:col-4">-->
  <!--          <p-calendar [(ngModel)]="comparisonYears[i]" view="year" [inline]="true"-->
  <!--                      (onSelect)="rerenderYearComparisonChart()" styleClass="inputfield w-full"></p-calendar>-->
  <!--        </div>-->
  <!--        <app-filters [(reason)]="comparisonReasons[i]" [(transactionType)]="comparisonTransactionTypes[i]"-->
  <!--                     [(paymentMethod)]="comparisonPaymentMethods[i]"-->
  <!--                     (onFilterChange)="rerenderYearComparisonChart()">-->
  <!--        </app-filters>-->
  <!--      </ng-container>-->
  <!--    </div>-->

  <!--    <button pButton pRipple type="button" icon="pi pi-plus" (click)="addComparisonCalendar()"-->
  <!--            class="p-button-rounded p-button-outlined"></button>-->

  <!--    <div class="card">-->
  <!--      <div class="field col-8 md:col-8 lg:col-6">-->
  <!--        <p-chart type="bar" [data]="yearComparisonData"></p-chart>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </p-tabPanel>-->
</p-tabView>
