<p-dialog #dialog header="{{'ui_menu_login' | translate}}" [(visible)]="isVisible" [modal]="true"
          [draggable]="false" [resizable]="false" (onHide)="onDialogHide()" (onShow)="onDialogShow()">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="formgrid grid col-12">
    <div class="field col-12">
      <input type="text" pInputText formControlName="username" placeholder="{{'ui_username' | translate}}" class="inputfield w-full"/>
    </div>
    <div class="field col-12">
      <p-password formControlName="password" [toggleMask]="true" [feedback]="false" placeholder="{{'ui_password' | translate}}"
                  styleClass="inputfield w-full" inputStyleClass="inputfield w-full"></p-password>
    </div>
    <div class="field col-12">
      <button pButton pRipple type="submit" [disabled]="loginForm?.invalid" label="{{'ui_btn_login' | translate}}"></button>
    </div>
  </form>
</p-dialog>
