<form [formGroup]="addPurchaseForm" (ngSubmit)="onSubmit(addPurchaseForm)" class="formgrid grid">
  <div class="field col-12 md:col-6">
    <p-inputNumber formControlName="money" mode="currency" currency="BGL"
                   [minFractionDigits]="2" placeholder="{{'ui_money' | translate}}" styleClass="inputfield w-full"
                   inputStyleClass="inputfield w-full"></p-inputNumber>
  </div>
  <div class="field col-12 md:col-6">
    <input type="text" pInputText formControlName="reason" placeholder="{{'ui_reason' | translate}}" class="inputfield w-full"/>
  </div>
  <div class="field col-12">
    <textarea [rows]="5" [cols]="30" pInputTextarea formControlName="products" placeholder="{{'ui_products' | translate}}"
              [autoResize]="true" class="inputfield w-full"></textarea>
  </div>
  <div class="field col-6 md:col-4">
    <p-selectButton [options]="transactionTypes" formControlName="transactionType"
                    optionLabel="type" styleClass="inputfield w-full"></p-selectButton>
  </div>
  <div class="field col-6 md:col-4">
    <p-selectButton [options]="paymentMethods" formControlName="paymentMethod"
                    optionLabel="paymentMethod" styleClass="inputfield w-full"></p-selectButton>
  </div>
  <div class="field col-6 md:col-4">
    <p-calendar formControlName="date" dateFormat="yy-mm-dd" placeholder="{{'ui_date' | translate}}"
                styleClass="inputfield w-full"></p-calendar>
  </div>

  <div class="field col-12">
    <button pButton pRipple type="submit" [disabled]="addPurchaseForm?.invalid" label="{{'ui_add_purchase' | translate}}"></button>
  </div>
</form>
